@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* ::-webkit-scrollbar {
  width: 10px;
}

* ::-webkit-scrollbar-track {
  background-color: rgb(34 197 94/0.2);
}

* ::-webkit-scrollbar-thumb {
  background-color: rgb(34 197 94);
  border-radius: 20px;
  /* border: 6px solid transparent; */
  /* background-clip: content-box; */
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(34 197 94/0.5);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.MainText {
  /* text-shadow: 3px 3px gray, -3px -3px gray; */
}
